@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  color: #5d8aa8;
  font-family: "Quicksand", sans-serif;
  /* overflow-y: scroll; */
}

::-webkit-scrollbar {
  display: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

main {
  padding: 15px;
  max-width: 700px;
  /* margin: 0 auto; */
  margin: 85px auto 0;
}

header {
  /* margin-top: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header div.header-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  font-weight: bold;
  font-size: 2rem;
}

header nav {
  display: flex;
  gap: 15px;
  align-items: center;
}

/* div.post {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
  border-bottom: 1px solid #f3f0f0;
  padding: 10px 15px;
} */

div.post {
  display: block; /* Change from grid to block if images are no longer needed */
  margin-bottom: 20px;
  border-bottom: 1px solid #f3f0f0;
  padding: 10px 15px;
}

div.post div.texts h2,
div.post p.summary {
  line-height: 1.6; /* spacing between elements in post*/
}

div.post:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer; /* Change the cursor to a pointer to indicate clickability */
}

div.post div.texts h2 {
  margin: 0;
  /* font-size: 1.7rem; */
  font-size: 1.4rem;
}

div.post div.texts p.info {
  margin: 6px 0;
  color: #888;
  font-size: 0.7rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

div.post p.info a.author {
  color: #222;
}

div.post p.summary {
  margin: 10px 0;
  line-height: 1.4rem;
  color: #222;
}

span.error {
  color: red;
  font-size: 13px;
}

.info {
  margin-top: 0;
  font-weight: bold;
  font-size: 17px;
  color: black;
}

img.profile_img {
  border-radius: 50%;
  max-width: 32%;
  height: auto;
  float: right;
}

/* BUTTON STYLING */
.button-4 {
  appearance: none;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.button-4:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

div.container form i {
  margin-left: -30px;
  cursor: pointer;
  color: #111;
}

/* LOGIN + REGISTER */
div.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 10px auto;
  padding: 1rem;
  box-sizing: border-box;
}

div.container h1 {
  padding: 5px 0;
  font-size: 1.2rem;
  color: #111;
  text-align: center;
}

div.container input {
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
  width: 100%;
  border: solid 1px #ccc;
  box-sizing: border-box;
}

div.container label {
  color: #111;
}

div.container button {
  box-sizing: border-box;
  width: 100%;
  padding: 3%;
  background: #5d8aa8;
  border: none;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

div.container p.tag {
  color: #111;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 0.9rem;
}

/* Styles for Create and Edit Post Page */
.create-edit-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  margin: 20px auto;
}

.create-edit-form input[type="title"],
.create-edit-form input[type="summary"] {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.create-edit-form input[type="file"] {
  border: 1px solid #ccc;
  display: block;
  padding: 10px;
  cursor: pointer;
}

/* Styles for the Create/Edit Post button */
.create-edit-form button {
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
  background-color: #5d8aa8; /* Button color */
  color: white; /* Text color */
  border: none; /* No border */
  border-radius: 5px; /* Slightly rounded corners */
  cursor: pointer; /* Changes cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Smooth background color transition on hover */
}

.create-edit-form button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.create-edit-form .ql-editor {
  min-height: 250px;
  color: #333; /* Set your preferred font color here */
}

/* Styles for Post Page */
.post-page {
  max-width: 800px; /* Limits the width for readability */
  margin: auto; /* Centers the content */
  padding: 20px;
  color: #333; /* Dark gray for better readability */
}

.post-page h1 {
  font-size: 2.5rem; /* Large title to catch attention */
  margin-bottom: 0.5rem; /* Adds space below the title */
  color: #5d8aa8;
}

.post-page time {
  font-size: 0.9rem; /* Smaller font for the date */
  color: #888; /* Lighter color for less emphasis */
  margin-bottom: 1rem; /* Adds space below the date */
  display: block; /* Ensures it takes its own line */
}

.post-page .author {
  font-size: 1rem; /* Adjust as necessary */
  color: #555; /* Darker than the date for emphasis */
  font-weight: bold; /* Makes the author's name stand out */
  margin-bottom: 2rem; /* Adds space before the content starts */
}

.post-page div {
  line-height: 1.6; /* Improves readability of the content */
  font-size: 1.1rem; /* Adjust as necessary for readability */
}

/* Styles for the content, assuming it might contain common elements */
.post-page div.content p {
  line-height: 1.6rem;
  padding: 0;
  margin: 0;
}

.post-page a {
  color: #5d8aa8; /* Theme color for links */
  text-decoration: none; /* Removes underline */
}

.post-page a:hover {
  text-decoration: underline; /* Adds underline on hover for distinction */
}

.post-page img {
  max-width: 100%; /* Ensures images are not wider than the post */
  height: auto; /* Maintains aspect ratio */
  margin: 20px 0; /* Adds vertical space around images */
}

.post-page ul,
.post-page ol {
  padding-left: 20px; /* Adds indentation to lists */
  margin: 10px 0; /* Adds space around lists */
}

.post-page li {
  margin-bottom: 0.5rem; /* Adds space between list items */
}

/* If you have headings within your post content */
.post-page h2,
.post-page h3,
.post-page h4 {
  color: #333; /* Slightly darker than the main text for emphasis */
  margin-top: 2rem; /* Adds space above the heading */
  margin-bottom: 1rem; /* Adds space below the heading */
  /* margin: 0; */
}

div.edit-row {
  text-align: center;
  margin-bottom: 20px;
}

div.post-page a.edit-button {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 5px;
}

a svg {
  height: 16px;
}
